---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% set postslist = collections.posts | head(-10) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>Gli articoli più vecchi sono <a href="{{ '/posts/' | url }}">in archivio</a>.</p>
